[Unit]
Description=Retain only four weeks of q system journal records

[Service]
Type=oneshot
ExecStart=/usr/bin/journalctl --rotate --vacuum-time=4weeks
TimeoutStartSec=10min
Nice=19
IOSchedulingClass=idle
